<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Hello World test!!</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <p>Hello World !!</p>

    <p>{{ test }}</p>
    <p>{{ topics }}</p>

    {# topicsから1つ取ってtopicとする。topicsはモデルオブジェクトのリスト。モデルオブジェクト単体にしなければ属性を参照することはできない。  #}
    {% for topic in topics %}
    <div>{{ topic.comment }}</div>
    {% endfor %}

    <form action="" method="POST">
        {# POSTメソッドを送信する時は、必ず下記の {% csrf_token %} もセットで #}
        {% csrf_token %}
        {# <input type="text" name="name"> #}
        <input type="text" name="comment">
        <input type="submit" value="送信！">
    </form>

</body>
</html>
